node_modules/**
.vscode/**
.vscode-test/**
.github/**
src/**
.gitignore
.yarnrc
yarn.lock
createTag.sh
LICENSE
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/esbuild.*js
**/eslint.config.*js
.prettier*
