node_modules/**
.vscode/**
.vscode-test/**
.vscode-test-web/**
.vscode-test.mjs
.github/**
src/**
.env
.env.*
.DS_Store
.gitignore
.hintrc
.nvmrc
.yarnrc
yarn.lock
createTag.sh
vsc-extension-quickstart.md
**/tsconfig.json
tsconfig.webview.json
**/.eslintrc.json
**/*.map
**/*.ts
**/esbuild.*js
**/eslint.config.*js
.prettier*
**/*.tsbuildinfo
**/*.config.*js*
TODO.md
CLAUDE.md
.claude/**
website

