.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.spinnerIcon {
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

.spinnerPath {
  animation: spinnerDash 1.5s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinnerDash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}